@model CustomErrorsRepro.Models.LogMessage

<tr>
    <td>
        @Html.DisplayFor(m=>m.LogDate)
    </td>
    <td>
        @Html.DisplayFor(m=>m.CustomErrorsMode)
    </td>
    <td>
        @Html.DisplayFor(m=>m.Message)
    </td>
</tr>
